name: jlu-health-reporter

on:
  watch:   
     types: 
            - started
 # schedule:
   # - cron: '4 13,22 * * *' 

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@v1
        - name: 'Set up Python'
          uses: actions/setup-python@v1
          with:
            python-version: '3.7'
        - name: 'Install requirements'
          run: |
            python -m pip install --upgrade pip
            pip install setuptools wheel twine
            pip install beautifulsoup4
            pip install lxml
            pip install --upgrade matplotlib
        - name: Install ChromeDriver
          run: |
            CHROME_VERSION=$(google-chrome --version | cut -f 3 -d ' ' | cut -d '.' -f 1) \
              && CHROMEDRIVER_RELEASE=$(curl --location --fail --retry 3 http://chromedriver.storage.googleapis.com/LATEST_RELEASE_${CHROME_VERSION}) \
              && curl --silent --show-error --location --fail --retry 3 --output /tmp/chromedriver_linux64.zip "http://chromedriver.storage.googleapis.com/$CHROMEDRIVER_RELEASE/chromedriver_linux64.zip" \
              && cd /tmp \
              && unzip chromedriver_linux64.zip \
              && rm -rf chromedriver_linux64.zip \
              && sudo mv chromedriver /usr/local/bin/chromedriver \
              && sudo chmod +x /usr/local/bin/chromedriver \
              && chromedriver --version
       
        - name: 'daka'
          run: |
               python jlu-health-reporter.py
        - name: 'Send mail'
          uses: dawidd6/action-send-mail@master
          with:
            server_address: smtp.qq.com
            server_port: 465
            username: ${{ secrets.MAIL_1 }}
            password: ${{ secrets.MAIL_2 }}
            subject: jlu-health-reporter打卡
            body: success
            to: 3460626440@qq.com
            from: GitHub Actions
            content_type: text/html
